<section id="tab-config" class="tab-panel">
  <fieldset class="section section-config-view">
    <legend>Config Viewer</legend>
    <div class="config-select">
      <label for="config_select_tab">Config:</label>
      <select id="config_select_tab"></select>
    </div>
    <label for="config_filter">Search:</label>
    <input type="text" id="config_filter" placeholder="Filter text" autocomplete="off">
    <div class="config-meta">Showing <span id="config_name_display">n/a</span></div>
    <pre id="config_text" data-lang="asa"></pre>
  </fieldset>
</section>
