<section id="tab-packet" class="tab-panel" data-beta-module="packet-check" data-beta-optional="1">
  <div class="tab-controls"><button type="button" class="clear-btn" data-clear-tab="packet">Clear</button></div>
  <fieldset class="section section-packet">
    <legend>Packet check <span class="badge beta" data-beta-badge="packet-check">Beta</span></legend>
    <label>Source:</label>
    <input type="text" name="pkt_src" id="pkt_src" list="targets" placeholder="Source object / host" autocomplete="off" class="mono-input">
    <label>Destination:</label>
    <input type="text" name="pkt_dst" id="pkt_dst" list="targets" placeholder="Destination object / host" autocomplete="off" class="mono-input">
    <div class="packet-options">
      <label><input type="checkbox" name="pkt_guess" id="pkt_guess" value="1" checked> Guess interface direction pairs</label>
    </div>
  </fieldset>
  <div class="actions actions-run" data-tab="packet">
    <button type="submit">Run</button>
  </div>
  <fieldset class="section section-results">
    <legend>Results</legend>
    <div class="results" data-tab="packet"></div>
  </fieldset>
</section>
