<section id="tab-packet" class="tab-panel">
  <fieldset class="section section-packet">
    <legend>Packet check</legend>
    <label>Source:</label>
    <input type="text" name="pkt_src" id="pkt_src" list="targets" placeholder="Source object / host">
    <label>Destination:</label>
    <input type="text" name="pkt_dst" id="pkt_dst" list="targets" placeholder="Destination object / host">
  </fieldset>
  <fieldset class="section section-results">
    <legend>Results</legend>
    <div class="results" data-tab="packet"></div>
  </fieldset>
</section>
