<section id="tab-find" class="tab-panel">
  <div class="tab-controls"><button type="button" class="clear-btn" data-clear-tab="find">Clear</button></div>
  <fieldset class="section section-find">
    <legend>Find host</legend>
    <label>Address / object:</label>
    <input type="text" name="findq" id="findq" list="targets" placeholder="Host or object" autocomplete="off" class="mono-input">
    <label class="find-inline"><input type="checkbox" name="find_verbose" id="find_verbose"> Verbose details</label>
  </fieldset>
  <div class="actions actions-run" data-tab="find">
    <button type="submit">Run</button>
  </div>
  <fieldset class="section section-results">
    <legend>Results</legend>
    <div class="results" data-tab="find"></div>
  </fieldset>
</section>
